.content-data{
    background-color: white;
    overflow-y: scroll;
}
#noun, #verb{
    background-color: #03032b;
    color:white;
    border-radius: 0px;
    outline: none;
    width:49.9%;
    text-align: center;
    margin:0px;
    padding:2% 0%;
}
#noun{
    border-bottom: 2px solid darkmagenta;
    padding-bottom: 1.5%;
}
.helping-text{
    display: inline-block;
    color:gray;
}
#verb2{
    display: none;
}
.data{
    height:81vh;
    padding:1%;
    text-align: left !important;
}
.error-message,.progress{
    height:91vh;
    color:gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-icon{
    height: 10%;
    width: 10%;
}
.word{
    color:black;
}
.meaning-text{
    display: block;
    padding-bottom: 3% !important;
}
.space{
    display: inline-block;
    padding-bottom: 3% !important; 
}
#content-heading{
    display: none;
}